<div class="row">
    <h1 class="page-header text-left">
        Podsumowanie zamówienia
    </h1>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Poniżej znajduje się zestawienie gier, które chciałbyś kupić. Aby potwierdzić zamówienie i dokonać płatności wciśnij przycisk potwierdź.</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa gry</th>
                        <th>Platforma</th>
                        <th>Cena brutto</th>
                        <th>Liczba sztuk</th>
                        <th>Wartość brutto</th>
                    </tr>
                </thead>
                <tbody>
                    <% iterator=1 %>
                    <% @shopping_cart.shopping_cart_items.each do |i| %>
                    <tr>
                        <td><%= iterator %></td>
                        <td><a href=<%= games_path + "/" + i.item.game.id.to_s %>><%= i.item.game.name %></a>
                        </td>
                        <td><%= i.item.platform.name %></td>
                        <% price = i.item.price + (i.item.price * @vat) %>
                        <td><%= sprintf( "%.2f", price) %> zł</td>
                        <td><%= quantity = i.quantity %></td>
                        <td><%= sprintf( "%.2f", price * quantity) %> zł</td>
                    </tr>
                    <% iterator+=1 %>
                    <% end %>
                </tbody>
            </table>
            <div class="panel-body text-right">
                <h3>Razem: <strong><%= sprintf( "%.2f", @shopping_cart.total) %> zł</strong></h3>
                <%= react_component('DisableCheckoutButton', payment_test_path: payment_test_path, :prerender => true) %>
            </div>
        </div>
    </div>

</div>
