<div class="row">
    <h1 class="page-header text-left">
        Podsumowanie zamówienia
    </h1>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Poniżej znajduje się zestawienie gier, które chciałbyś kupić. Aby potwierdzić zamówienie i dokonać płatności wciśnij przycisk potwierdź.</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa gry</th>
                        <th>Platforma</th>
                        <th>Cena brutto</th>
                        <th>Liczba sztuk</th>
                        <th>Wartość brutto</th>
                    </tr>
                </thead>
                <tbody>
                    <% @shopping_cart.shopping_cart_items.each do |i| %>
                    <tr>
                        <td><%= i.id %></td>
                        <td><a href="#"><%= i.item.game.name %></a>
                        </td>
                        <td><%= i.item.platform.name %></td>
                        <td><%= price = i.item.price + (i.item.price * @vat) %> zł</td>
                        <td><%= quantity = i.quantity %></td>
                        <td><%= price * quantity %> zł</td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="panel-body text-right">
                <h3>Razem: <strong><%= @shopping_cart.total %> zł</strong></h3>
                <a class="btn btn-primary" href="#">Potwierdź</a>
            </div>
        </div>
    </div>

</div>
