<div class="row">
    <h1 class="page-header text-left">
        <small><a href="#">Wszystkie gry</a> > <a href="#"><%= @game.category.name %></a></small><br>
        <%= @game.name %>
    </h1>
    <div class="col-md-9">
        <div class="text-center">
            <p><img src="<%= asset_path 'filler_600x337.jpg' %>" alt="Zdjęcie gry"></p>
        </div>
        <div class="well">
            <div class="row">
                <div class="col-md-7 vcenter">
                    <span class="buytext">Kup <%= @game.name %></span>
                </div><!-- Ten komentarz to hax stylowy, nie usuwać!
                --><div class="col-md-5 vcenter">
                    <div class="panel panel-default text-center no-margin">
                        <%= react_component('ManageCart', shopping_cart_id: @shopping_cart.id, steam_price: @steam_price, origin_price: @origin_price, current_steam_ppg: @current_steam_ppg, current_origin_ppg: @current_origin_ppg, :prerender => true) %>
                    </div>
                </div>
            </div>
        </div>
        
        <h2>Opis gry</h2>
        <p><%= @game.description %></p>
        
        <p><%= @game.created_at %></p>
        <p><%= @game.updated_at %></p>
    </div>
    
    <!-- panel boczny -->
    <div class="col-md-3">
        <div class="panel panel-default">
              <div class="panel-body">
                Tytuł: <i><%= @game.name %></i><br>
                Gatunek: <i><a href="#"><%= @game.category.name %></a></i><br>
                Producent: <i><a href="#"><%= @game.producer.name %></a></i><br>
                Wydawca: <i><a href="#"><%= @game.publisher.name %></a></i><br>
                Data wydania: <i>wczoraj</i>
              </div>
        </div>
    </div>
    
</div>


