<div class="row">
    <h1 class="page-header text-left">
        Historia zamówień
    </h1>
    <div class="col-md-9">
        <% if not @purchases.empty? %>
            <h2>Brak zamówień</h2>
        <% end %>
        <% @purchases.each do |p| %>
        <div class="panel panel-default">
              <div class="panel-body">
                <p>Zamówienie nr: <%= p[0].id %></p>
                <p>Status zamówienia: <%= (p[0].status == 0 ? 'W realizacji' : 'Zrealizowano' ) %></p>
                <p>Data zamówienia: <%= p[0].created_at %></p>
              </div>
              <table class="table">
                  <thead>
                    <tr>
                        <th>Nazwa gry</th>
                        <th>Platforma</th>
                        <th>Cena brutto</th>
                        <th>VAT</th>
                        <th>Liczba sztuk</th>
                        <th>Wartość brutto</th>
                    </tr>
                </thead>
                <tbody>
                    <% p[1].each do |key, value| %>
                    <tr>
                        <% price =  (p[1][key][1].price + (p[1][key][1].price * @vat)).round(2) %>
                        <td><%= p[1][key][2].name %></td>
                        <td><%= p[1][key][3].name %></td>
                        <td><%= sprintf("%.2f", price) %> zł</td>
                        <td><%= p[1][key][4].value %>%</td>
                        <td><%= p[1][key][0] %></td>
                        <td><%= sprintf("%.2f", price * p[1][key][0]) %></td>
                    </tr>
                    <% end %>
                </tbody>
              </table>
        </div>
        <% end %>
    </div>

    
</div>


